<h1>Main Page</h1>


<!-- if directive -->
<!-- <app-if></app-if> -->

<!-- ifelse directive -->
<!-- <app-ifelse></app-ifelse> -->


<!-- elseif directive -->
<!-- <app-elseif></app-elseif> -->

<!-- switchCase Directive -->
<!-- <app-switchcase></app-switchcase> -->

<!-- forloop directive -->
<!-- <app-for></app-for> -->


<!-- push and splice with forloop -->
<!-- <app-push-and-splice></app-push-and-splice> -->


<!-- splice with forloop -->
<!-- <app-splice></app-splice> -->

<!-- push and splice dynamic-1 -->
<app-push-and-splice-dynamic></app-push-and-splice-dynamic>

<!-- push and splice dynamic-2 -->
<!-- <app-push-and-splice-dynamic2></app-push-and-splice-dynamic2> -->

